@{
    ViewBag.Title = "LiveTweets";
}

<h3 style="text-align:center">Live Tweets</h3>
<div class="container" style="overflow-y: scroll; height:400px; text-align:left">
    <ul id="discussion"></ul>
</div>