

@{
    ViewBag.Title = "OverAllSentimentsCount";

}

@*@model DotNet.Highcharts.Highcharts*@

<p></p>
@*@(Model)*@

<div id="StockChart_SentimentCountByTopics"></div>
<script type="text/javascript">


    var chart = new CanvasJS.Chart("StockChart_SentimentCountByTopics", {
        title:{
            text: "",
            fontFamily: "arial black",
            fontColor: "#695A42"

        },
        subtitles: [
					{ text: "Count of Tweet by Sentiments" }
        ],
        animationEnabled: true,
        toolTip: {
            shared: true            
        },
        axisY:{
            gridColor: "#B6B1A8",
            tickColor: "#B6B1A8",
            interlacedColor: "rgba(182,177,168,0.2)"

        },
       	
				data: [
				{
				    type: "stackedColumn", //change type to bar, line, area, pie, etc
				    showInLegend:true,
				    color: "#4192D9",
				    name:"Negative",

					dataPoints:  @Html.Raw(ViewBag.NegativeSentimentbyTopic),
                                     
				},
                {
                    type: "stackedColumn", //change type to bar, line, area, pie, etc
                    showInLegend:true,
                    color: "#004B8D",
                    name:"Positive",
                    dataPoints:  @Html.Raw(ViewBag.PositiveSentimentbyTopic),
                },
                {
                    type: "stackedColumn", //change type to bar, line, area, pie, etc
                    showInLegend:true,
                    color: "#7ABAF2",
                    name:"Neutral",
                    dataPoints:  @Html.Raw(ViewBag.NeutralSentimentbyTopic),
                
                }

				]
			});
			chart.render();

</script>