<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AzureSQLDBConn" connectionString="Data Source=twittercad.database.windows.net;Initial Catalog=TwitterDB;Integrated Security=False;User ID=ramesh;Password=Qwerty@123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>